<ion-grid fixed>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="6" size-md="4" *ngFor="let p of products">
            <ion-card>
                <div class="product-image" [style.background-image]="'url('+p.img+')'"></div>
                <ion-card-content>
                    <ion-label>
                        <b>{{ p.title}}</b>
                        <p>{{ p.price | currency: 'INR' }}</p>
                    </ion-label>
                </ion-card-content>
                <ion-button class="ion-no-margin" expand="full" color="primary" (click)="addProduct(p)">
                    <p>Add to cart</p> <mat-icon matBadgeColor="accent">add</mat-icon>
                </ion-button>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>